---
layout: default
---
<div class="main">
  <div id="timeline" class="weeks-carousel">
    <span class="weeks">
      {% for week in site.data.timeline %}
        <label><input class="week" id="button-week-{{ week.week }}"  type="radio" name="toggler" value="week-{{ week.week }}" /> ○ </label>
      {% endfor %}
    </span>
  </div>
  <div class="weeks-carousel-week">
    {% for week in site.data.timeline %}
      <div id="week-{{ week.week }}" class="toHide" style="display:none">
        <h4 class="week-title">Week {{ week.week }}</h4>
        <p class="week-dates">{{ week.date_range }}</p>
        <hr class="timeline-divider">
        {% for event in week.events %}
          {% if event.title %}
            <h4 class="event-title">{{ event.title }}</h4>
          {% endif %}
          {% if event.date %}
            <h4 class="event-title">{{ event.date }}</h4>
          {% endif %}
          {% if event.description %}
            <p class="event-description">{{ event.description }}</p>
            <hr>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>


  {% for problem in site.data.problem_statements %}
    <div class="problem-statement-section-outer">
      <ul class="problem-statement-section-inner">
        <h3> {{ problem.problem_statement }} </h3>
        <p class="problem-statement-gray-text"> {{ problem.department }} </p>
        <h4> {{ problem.goal }} </h4>
        {% for team in problem.teams %}
          <li class="problem-statement-team-leads">
            {% if team.team_lead_title %}
              <p class="problem-statement-gray-text"> {{ team.team_lead_title }} </p>
            {% endif %}
            {% if team.team_leads %}
              {% for lead in team.team_leads %}
                <p> {{ lead }} </p>
              {% endfor %}
            {% endif %}
          </li>
          <li class="problem-statement-collaborators">
            {% if team.team_role %}
              <p class="problem-statement-gray-text"> {{ team.team_role }} </p>
            {% endif %}
            <ul>
              {% if team.collaborators %}
                {% for collaborator in team.collaborators %}
                  <li class="problem-statement-gray-text-bold"> {{ collaborator }} </li>
                {% endfor %}
              {% endif %}
            </ul>
          </li>
          <br>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
