---
layout: default
---
<section class="usa-grid usa-section">
  <div id="timeline" class="weeks">
    <span class="weeks">
      {% for week in site.data.timeline %}
        <label><input class="week" id="button-week-{{ week.week }}"  type="radio" name="toggler" value="week-{{ week.week }}" /> o </label>
      {% endfor %}
    </span>
  </div>
  <div>
    {% for week in site.data.timeline %}
      <div id="week-{{ week.week }}" class="toHide" style="display:none">
        <h4 class="week-title">Week {{ week.week }}</h4>
        <p class="week-dates">{{ week.date_range }}</p>
        <hr class="timeline-divider">
        {% for event in week.events %}
          {% if event.title %}
            <h4 class="event-title">{{ event.title }}</h4>
          {% endif %}
          {% if event.date %}
            <h4 class="event-title">{{ event.date }}</h4>
          {% endif %}
          {% if event.description %}
            <p class="event-description">{{ event.description }}</p>
            <hr>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
<section>

{% for problem in site.data.problem_statements %}
  <section class="usa-grid usa-section">
    <h3> {{ problem.problem_statement }} </h3>
    <p> {{ problem.department }} </p>
    <h4> {{ problem.goal }} </h4>
    {% for team in problem.teams %}
      {% if team.team_lead_title %}
        <p> {{ team.team_lead_title }} </p>
      {% endif %}
      {% if team.team_leads %}
        {% for lead in team.team_leads %}
          <p> {{ lead }} </p>
        {% endfor %}
      {% endif %}
      {% if team.team_role %}
        <p> {{ team.team_role }} </p>
      {% endif %}
      {% if team.collaborators %}
        {% for collaborator in team.collaborators %}
          <p> {{ collaborator }} </p>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </section>
{% endfor %}
