---
layout: default
---

<div id="timeline">
  <ul class="weeks">
    <span>
      {% for week in site.data.timeline %}
        <input class="" id="button-week-{{ week.week }}"  type="radio" name="toggler" value="week-{{ week.week }}" />
        <!-- <input type="submit" value="Submit"> -->
      {% endfor %}
    </span>
    {% for week in site.data.timeline %}
    <div id="week-{{ week.week }}" class="toHide" style="display:none">
      <li>
        Week: {{ week.week }}
        {{ week.date_range }}
      </li>
      <li>
        {% for event in week.events %}
          {% if event.title %}
            {{ event.title }}
          {% endif %}
          {% if event.date %}
            {{ event.date }}
          {% endif %}
          {% if event.description %}
            {{ event.description }}
          {% endif %}
        {% endfor %}
      </li>
    </div>
    {% endfor %}
  </ul>
</div>

{% for problem in site.data.problem_statements %}
  <section class="usa-grid usa-section">
    <div class="usa-width-one-third">
      <h3> {{ problem.problem_statement }} </h3>
      <p> {{ problem.department }} </p>
      <h4> {{ problem.goal }} </h4>
      {% for team in problem.teams %}
        {% if team.team_lead_title %}
          <p> {{ team.team_lead_title }} </p>
        {% endif %}
        {% if team.team_leads %}
          {% for lead in team.team_leads %}
            <p> {{ lead }} </p>
          {% endfor %}
        {% endif %}
        {% if team.team_role %}
          <p> {{ team.team_role }} </p>
        {% endif %}
        {% if team.collaborators %}
          {% for collaborator in team.collaborators %}
            <p> {{ collaborator }} </p>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  </section>
{% endfor %}
